html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1::selection {
  background-color: var(--main_color);
}
h2::selection {
  background-color: var(--main_color);
}
h3::selection {
  background-color: var(--main_color);
}
label::selection {
  background-color: var(--main_color);
}
input::selection {
  background-color: var(--main_color);
}

body {
  background-color: #f7ecde;
}
:root {
  --main_color: #fec260;
}

li {
  list-style: none;
}

.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-70 {
  width: 70%;
}
.w-40 {
  width: 40%;
}
.w-10 {
  width: 10%;
}
.w-12 {
  width: 12%;
}
.w-85 {
  width: 85%;
}
.w-80 {
  width: 80%;
}

.h-70 {
  height: 70%;
}

.py-6 {
  padding: 8rem 0;
}

@font-face {
  font-family: "Pacifico-500";
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "Righteous-500";
  src: url(../fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: "PT_Sans_Caption";
  src: url(../fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf);
}
/* --------------------------------------------------- */

h1 {
  position: relative;
  width: fit-content;
  margin: auto;
  z-index: 5;
  font-family: Pacifico-500;
  font-size: 3.125rem;
}

h1::before {
  content: "";
  background-color: var(--main_color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
  transition: 0.5s;
}
h1:hover::before {
  height: 70%;
}

.dots {
  border-bottom: 2px dotted black;
  height: 1px;
  width: 100%;
}

h2 {
  font-family: Righteous-500;
  font-size: 1.5625rem;
  background: linear-gradient(90deg, #3ea55b, #b3ab49);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

label {
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 600;
}

.button1 {
  background-color: #d1512d;
  color: white;
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
}

.button1:hover {
  background-color: #bb4120;
  color: white;
}

input {
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
}

.not_valid {
  color: #dc3545;
}
.valid {
  color: #198754;
}

/* --------------------------------------------------- */

.table_title {
  background-color: white;
  border-bottom: 1px solid #dee2e6;
}

.table_title h3 {
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

.table_content {
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

.table_content .h3_1 {
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  padding: 10px 0px;
}
.table_content .h3_2 {
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
  margin: auto;
  padding: 10px 0px;
}

.visit_button {
  background-color: #9eb23b;
  color: white;
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto;
}

.visit_button:hover {
  background-color: #8a9e23;
  color: white;
}

.delete_button {
  background-color: #eb1d36;
  color: white;
  font-family: PT_Sans_Caption;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto;
}

.delete_button:hover {
  background-color: #d30820;
  color: white;
}

/* --------------------------------------------------- */
